/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2980b9;
    width: auto;
    padding: 1rem;
    border-bottom: 2px solid #fff; /* Add a white border at the bottom */
}
  

  
/* Right Section Styles */
.navbar-right {
    display: flex;
    align-items: center;
    font-weight: 350;
}

.registerButton {
    text-decoration: none;
    color: #2980b9;
    font-weight: 350;
    padding: 0 1vw;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1380px; /* Move the button to the right */
}
.viewComapnyButton {
    text-decoration: none;
    color: #2980b9;
    font-weight: 350;
    padding: 0 1vw;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -220px;
}
/* Active Link Styles */
.active-link {
    display: none;
}
