.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4; 
    padding: 20px; 
    width: auto;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #3498db;
  }

  .form-group label {
    margin-right: 10px;
    min-width: 100px; 
  }

  .form-group input {
    flex: 1;
  }

  .registration-form {
    border: 1px solid #ddd;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

  }

  .registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .register-button:hover {
    background-color: #2980b9; 
  }
  .registration-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    margin-top: -100px;
  }

  .registration-title2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    margin-top: -60px;
    margin-left: 10px;
  }
  .small-qr-code {
    width: 70px;  /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    /* You can also add other styles as needed, such as margin, padding, etc. */
  }
  .appointment-container {
    text-align: center;
    margin-top: 20px; /* Add margin for separation */
  }
  
  .appointment-table {
    width: 70%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: 15px auto; /* Center the table */
  }
  
  .appointment-table th, .appointment-table td {
    border: 1px solid #ddd; /* Add borders */
    padding: 8px;
  }
  
  .appointment-table th {
    background-color: #3498db; /* Header background color */
    color: #fff; /* Header text color */
  }

  .appointment-table2 {
    width: 60%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: 15px auto; /* Center the table */
  }
  
  .appointment-table2 th, .appointment-table2 td {
    border: 1px solid #ddd; /* Add borders */
    padding: 8px;
  }
  
  .appointment-table2 th {
    background-color: #3498db; /* Header background color */
    color: #fff; /* Header text color */
  }
  .company-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    margin-top: 50px;
  }

  .cancelClaimButton  {
    width: 80%;
    padding: 10px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cancelClaimButton:hover {
    background-color: #2980b9; 
  }

  .canceled-row {
    background-color: #eee; /* Postavite željenu boju pozadine za otkazane redove */
  }
  
.cancelClaimButton:disabled,
  .cancelClaimButton[disabled]{
  width: 90%;
  padding: 10px;
  background-color: #878787; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: default;
  transition: background-color 0.3s;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #f5f5f5;
}

.sort-indicator {
  font-size: 10px;
  margin-left: 5px;
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 0.54 !important;
}