<div class="registration-container">
    <h2 class="registration-title">Update profile</h2>
    <div class="profile" *ngIf="myProfile" class="registration-form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input [(ngModel)]="myProfile.name" type="text" id="name" name="name" value="{{myProfile.name}}">
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input [(ngModel)]="myProfile.surname" type="text" id="surname" name="surname" value="{{myProfile.surname}}">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="myProfile.password" type="password" id="password" name="password" value="{{myProfile.password}}">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input [(ngModel)]="myProfile.city" type="text" id="city" name="city" value="{{myProfile.city}}">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input [(ngModel)]="myProfile.country" type="text" id="country" name="country" value="{{myProfile.country}}">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone number:</label>
            <input [(ngModel)]="myProfile.phoneNumber" type="text" id="phoneNumber" name="phoneNumber" value="{{myProfile.phoneNumber}}">
        </div>
        <div class="form-group">
            <label for="profession">Profession:</label>
            <input [(ngModel)]="myProfile.profession" type="text" id="profession" name="profession" value="{{myProfile.profession}}">
        </div>
        <div class="form-group">
            <label for="companyInformation">Company info:</label>
            <input [(ngModel)]="myProfile.companyInformation" type="text" id="companyInformation" name="companyInformation" value="{{myProfile.companyInformation}}">
        </div>
        <button (click)="updateProfile()" class="register-button">Update profile</button>
    </div>
</div>
<h2 class="registration-title2">Penal points: {{ penalPoints }}</h2>
<div class="appointment-container">
    <h2 class="company-title">Your reservations</h2>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="pendingStatus" (change)="getFilteredReservations()"> Pending
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="canceledStatus" (change)="getFilteredReservations()"> Canceled
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="claimedStatus" (change)="getFilteredReservations()"> Claimed
      </label>
    </div>
    <table class="appointment-table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date and Time</th>
          <th>Duration</th>
          <th>Price</th>
          <th>QR code</th>
          <th></th>
          <th></th>
          <th>QR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations" [ngClass]="{'canceled-row': reservation.status === 'CANCELED'}">
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.appointment.dateAndTime}}</td>
          <td>{{ reservation.appointment.duration }}</td>
          <td>{{ reservation.price }}</td>
          <td>{{ reservation.qrCode}}</td>
          <td>
            <button class="cancelClaimButton" [attr.disabled]="(reservation.status == 'CANCELED') ? '' : null"
                    (click)="cancelReservation(reservation.id,reservation)">Cancel</button>
          </td>
          <td>
            <button class="cancelClaimButton"  [attr.disabled]="(reservation.status == 'CLAIMED') || (reservation.status == 'CANCELED') ? true : null"
                    (click)="claimReservation(reservation.id)">Claim</button>
          </td>
          <td>
            <img [src]="reservation.qrCode" alt="QR Code">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="appointment-container">
    <h2 class="company-title">History of claimed reservations</h2>
    <table class="appointment-table2">
      <thead>
        <tr>
          <th>Status</th>
          <th (click)="sortTable('dateAndTime')">Date and Time <span *ngIf="sortColumn === 'dateAndTime'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sortTable('duration')">Duration <span *ngIf="sortColumn === 'duration'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sortTable('price')">Price <span *ngIf="sortColumn === 'price'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
          <th>QR code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.status.claimed }}</td>
          <td>{{ reservation.appointment.dateAndTime }}</td>
          <td>{{ reservation.appointment.duration }}</td>
          <td>{{ reservation.price }}</td>
          <td>{{ reservation.qrCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    