<div class="new-date-container">
    <h2 class="new-date-title">Available dates</h2>
    <label for="meeting-time">Choose a time for your appointment:</label>
    <form class="form-group" [formGroup]="dateForm" (ngSubmit)="getAppointmentsForCompany()">
        <input type="date"
               id="meeting-time"
               name="meeting-time"
               formControlName="date"
               value="2023-12-15T19:30"
               min="2023-12-15T08:00"
               max="2024-12-15T16:00">

            
        <button type="submit" class="newDatesButton" >find dates</button>
    </form>

    <div  *ngIf="appointments && appointments.length > 0 && user && user.roles.includes('ROLE_USER')" class="appointment-container">
        <table class="appointment-table">
          <thead>
            <tr>
              <th>Date and Time</th>
              <th>Duration</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
                <td class="dateAndTime">{{ appointment.dateAndTime[2]+'.'+appointment.dateAndTime[1]+'.'+appointment.dateAndTime[0]+' '+appointment.dateAndTime[3]+':'+appointment.dateAndTime[4]+'0' }}</td>
                <td>{{ appointment.duration }}</td>
                <td>{{ appointment.status }}</td> 
                <button 
                mat-button-raised
                (click)="reserveButtonClicked(appointment)"
            >
                Reserve
            </button>                  
            </tr>
          </tbody>
        </table>                
      </div>

</div>